{% extends 'layouts/base.html.twig' %}

{% block title %} {% trans %}Profile{% endtrans %} {% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-6 mx-auto text-center">
            <h1 class="m-5">{% trans %} Profile {% endtrans %}</h1>
            {# <img src="https://www.gravatar.com/avatar/b22b8ad9c0cf4bf9884d7d661c9398f2/?s=100" alt=""> #}
            {# hardcodé avec md5('rduris@gmail.com') effectué dans psysh #}
            <img src="https://www.gravatar.com/avatar/{{ app.user.gravatarUrl }}/?s=100" alt="Avatar de {{ app.user.fullName }}" class="shadow rounded-circle">
            
            <p class="mt-5 lead">{{ app.user.email }}</p>
            <p><small>{% trans %} Account created on {% endtrans %}{{ app.user.createdAt|date('d/m/y') }}
            <h2>{{ app.user.fullName }}</h2>
            <p><a href="{{ path('app_account_edit') }}">{% trans %} Edit Account {% endtrans %}</a> <a href="{{ path('app_account_change_password') }}">{% trans %} Change password {% endtrans %}</a><p>
        </div>
    </div>
{% endblock %}
