{% extends 'layouts/base.html.twig' %}

{% block title 'test' %} 

{% block body %}
    {% if pins|length > 0 %}
        <h1 class="mb-4 text-center text-muted ">{{ pluralize(pins|length, 'Pin', 'Pins') }}</h1>
        {% for row in pins|batch(3) %}
            <div class="row mb-5">
                {% for pin in row %}
                    <div class="col-md-4">
                        <article class="pin bg-white rounded shadow">
                            <div class="mw-100 rounded-top overflow-hidden d-flex justify-content-center align-items-center">
                                <a href="{{ path('app_pins_show', {id: pin.id}) }}">
                                    <img class="" src="{{ pin.imageName ? vich_uploader_asset(pin) : asset('build/images/placeholder.jpeg')}}" alt="{{ pin.title }}" style="width: 300px; height: 300px;">
                                </a>
                                {# {% if pin.imageName %}
                                    <img src="{{ vich_uploader_asset(pin, 'imageFile') }}" alt="{{ pin.title }}" />
                                {% else %}
                                    <!-- Afficher une image par défaut si aucune image n'est définie -->
                                    <img src="{{ asset('assets/images/placeholder.jpeg') }}" alt="{{ pin.title }}" />
                                {% endif %} #}
                            </div>
                            <h2 class="pl-3 pt-3 h-5 text-muted"><a href="{{ path('app_pins_show', {id: pin.id}) }}" class="text-muted text-decoration-none">{{ pin.title }}</a></h2>
                            {# <p>Crée {{ pin.createdAt|date }} #}
                            {# <p>Crée {{ pin.createdAt|ago }} #}
                            <p class="pl-3 pb-3 text-muted"><small>{% trans %}Submitted by &nbsp; {% endtrans %}{{ pin.user.fullName }}</small></p>
                            {# <a href="#" onclick="event.preventDefault();confirm('Are you sure ?') && document.getElementById('js-pin-delete-form-{{ pin.id }}').submit();" class="m-3 btn btn-danger">&times; Delete</a>
                        
                            <form id="js-pin-delete-form-{{ pin.id }}" action="{{ path('app_pins_delete', {id: pin.id}) }}" method="POST" style="display:none;">
                                <input type="hidden" name="csrf_token" value="{{ csrf_token('pin_deletion_' ~ pin.id) }}">
                                <input type="hidden" name="_method" value="DELETE">
                            </form> #}
                        </article>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    {% else %}
        <p class="mt-5 h1 text-center">{% trans %}No pins yet{% endtrans %} <a href="{{ path('app_pins_create') }}">{% trans %}Be the first{% endtrans %}</a></p>
    {% endif %}
{% endblock %}