{% extends 'layouts/base.html.twig' %}

{% block title pin.title %}

{% block body %}
<div class="row justify-content-center shadow customing-class" style="width:50%">
    <div class="col-md-6 mx-auto">
        <article class="pin">
            <div class="mw-100 overflow-hidden rounded-top">
                    <img class="" src="{{ pin.imageName ? vich_uploader_asset(pin) : asset('build/images/placeholder.jpeg')}}" style="width: 300px; height: 300px;" alt="{{ pin.title }}">
            </div>

            <div class="p-3">
                <h1 class="h-5 text-secondary">{{ pin.title }}</h1>
                <p class="text-muted">
                    <small>
                        {% trans %}Submitted {% endtrans %}
                        <time datetime="{{ pin.createdAt|date('Y-m-d H:i:s') }}">{{ pin.createdAt|ago }}</time>
                        by {{ pin.user.fullName }}
                    </small>
                </p>
                <p class="text-break">
                    {{ pin.description }}
                </p>

                {% if app.user == pin.user or 'ROLE_ADMIN' in app.user.roles %}
                <div class="pt-3">
                    <a href="{{ path('app_pins_edit', {id: pin.id}) }}" class="btn btn-light">{% trans %}Modifier{% endtrans %}</a>
                    <a href="#" onclick="event.preventDefault();confirm('Are you sure ?') && document.getElementById('js-pin-delete-form').submit();"class="btn btn-light">{% trans %}Delete{% endtrans %}</a>

                    <form id="js-pin-delete-form" action="{{ path('app_pins_delete', {id: pin.id}) }}" method="POST" style="display:none;">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token('pin_deletion_' ~ pin.id) }}">
                        <input type="hidden" name="_method" value="DELETE">
                    </form>

                    {# <form id="js-pin-delete-form" action="{{ path('app_pins_delete', {id: pin.id}) }}" method="POST" style="display:none;">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token('pin_deletion_' ~ pin.id) }}">
                        <input type="hidden" name="_method" value="DELETE">
                    </form> #}
                </div>
                {% endif %}
            </div>
        </article>


        
    </div>
</div>

{% endblock %}