<h1><a>{{ pluralize(pins|length, 'Pin', 'Pins') }}</a></h1>

{% for pin in pins %}
        <article>
        <h2>{{ pin.id }}</h2>
        <p>{{ pin.description }}</p>
            {# <h2><a href="{{ path('app_pins_show', {id: pin.id}) }}">{{ pin.title }}</a></h2>
            <p>{{pin.description|u.truncate(50, '...', false) }}</p> #}
            {# <p>Crée {{ pin.createdAt|date }}#}
            {# <p>Crée {{ pin.createdAt|ago }} #}
        </article>
    {% endfor %}